﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" Theme="light" %>

<asp:Content runat="server" ContentPlaceHolderID="dataGrid">
        <asp:CodeBox ID="css" runat="server"
        SkinId="CodeBox" code="css_code" owner="Me" codeType="css">
        </asp:CodeBox>
</asp:Content>
