﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" Theme="dark"%>

<asp:Content runat="server" ContentPlaceHolderID="dataGrid">
        <asp:CodeBox ID="sql" runat="server"
        SkinId="CodeBox" code="sql_code" owner="Me" codeType="sql">
        </asp:CodeBox>
</asp:Content>
