﻿<%@ Control Language="C#" Inherits="Assignment2a.CodeBox" %>
<asp:DataGrid id="Code" runat="server" CssClass="code"
    GridLines="None" Width="500px" CellPadding="2" >
    <HeaderStyle Font-Size="Large" BackColor="#999966" ForeColor="White" />
    <ItemStyle BackColor="#1a1d23" ForeColor="#ffffff"/>     
</asp:DataGrid>